body {
    margin: 0;
    height: 100vh;
}

#mainContainer {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 100vh;
}

#navbar {
    display: flex;
    grid-column: 1 / 2;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em;

}

#navLogo {
    text-align: center;
}

#navProjects button, #today, #thisMonth, #thisWeek {
    padding: 0.5em ;
    margin: 0.8em 0em;
    border: 1px solid black;
}

#main {
    display: grid;
    grid-column: 2 / 3;
    grid-template-rows: 20% 75% 5%;
    border-left: 2px solid black;
}

#main header {
    text-align: center;
    border-bottom: 1px solid black;
}

#mainNavbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

#todo {
    border: 2px solid red;
}

#mainFooter {
    display:flex;
    align-items: center;
    justify-content: center;
}

#taskCard {
    width: 300px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 2px black;
    padding: 1rem 5rem;
    gap: 0.5rem;
    background-color: rgba(128, 128, 128, 0.76);
}

.hidden {
    display: none;
}